

/* Start:/local/templates/main/components/local/catalog.smart.filter/catalog2/style.css?176310650160*/
.archive_block, .archive_block label {
  cursor: pointer;
}

/* End */
/* /local/templates/main/components/local/catalog.smart.filter/catalog2/style.css?176310650160 */
